/* -----------------
     Start Css 
----------------*/

.first-part{
    height: 677px;
    width: 100%;
    
    background-color: #562EFF;  

}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:  80%;
    height: 88px;
    margin: 0%;
    padding-right: 20px;
    font-size: 23px; 
    padding-top: 20px; 
}
.header a{
    text-decoration: none;
     color: white; 
    margin: 40px;
    border-radius: 3px;
    padding: 5px;
}
nav a:hover{
    color: red;
    background-color: black;
}
.header>span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 220px;
    height: 44px;
    left: 350px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    border-radius: 20px;  
} 

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    
}
.title h1{
    width: 27%;
    position: relative;
    bottom: 25px;
    font-size: 80px;
    word-wrap: wrap;
    text-align: left;
    color: white;
    
    
}
.title img{ 
    width: 556.01px;
    height: 438px;
}
.live{
    position: relative;
    left: 140px;
    bottom: 35px;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    align-items: center;
    
    
}

